<a href="https://colab.research.google.com/github/vikashsrivastava94/google_colab_2/blob/master/nifty_direction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import xgboost as xgb
import re

In [0]:
df=pd.read_csv("C:/Python projects/nifty project/fwddata/dat/NIFTY.csv")

In [0]:
df.head()

         Date     Open     High      Low    Close     Volume      Turnover
0  2010-01-04  5200.90  5238.45  5167.10  5232.20  148652424  6.531610e+10
1  2010-01-05  5277.15  5288.35  5242.40  5277.90  240844424  7.969620e+10
2  2010-01-06  5278.15  5310.85  5260.05  5281.80  216147837  7.892600e+10
3  2010-01-07  5281.80  5302.55  5244.75  5263.10  181246734  6.890990e+10
4  2010-01-08  5264.25  5276.75  5234.70  5244.75  201910800  7.777040e+10

In [0]:
df.shape

(2320, 7)

In [0]:
# Create the dependent variable
df.loc[(df['Close']-df['Close'].shift(-1)) < 0,'target']=1
df.loc[(df['Close']-df['Close'].shift(-1)) > 0,'target']=0

In [0]:
df.tail()

,Date,Open,High,Low,Close,Volume,Turnover,target,CCI_5,CCI_10,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
2314,2019-05-02,11725.55,11789.30,11699.55,11724.75,380278045,1.779006e+11,0.0,73.178583,40.141471,...,2,3,122,0,0,0,0,0,0,1556755200
2315,2019-05-03,11722.60,11770.90,11699.35,11712.25,305519934,1.515632e+11,0.0,26.458732,23.133281,...,3,4,123,0,0,0,0,0,0,1556841600
2316,2019-05-06,11605.80,11632.55,11571.35,11598.25,299046480,1.470342e+11,0.0,-118.516187,-95.709232,...,6,0,126,0,0,0,0,0,0,1557100800
2317,2019-05-07,11651.50,11657.05,11484.45,11497.90,337495624,1.663284e+11,0.0,-91.780609,-118.423007,...,7,1,127,0,0,0,0,0,0,1557187200
2318,2019-05-08,11478.70,11479.10,11346.95,11359.45,372826025,1.744001e+11,1.0,-97.241575,-150.655635,...,8,2,128,0,0,0,0,0,0,1557273600

In [0]:
df.target.value_counts()

0.0    1221
1.0    1095
Name: target, dtype: int64

In [0]:
df.drop(df.tail(1).index,inplace=True)

In [0]:
# Creating technical indicators

# 1. CCI (Commodity Channel Index)
def CCI(data, ndays): 
    TP = (data['High'] + data['Low'] + data['Close']) / 3 
    CCI = pd.Series((TP - TP.rolling(ndays).mean()) / (0.015 * TP.rolling(ndays).std()),name = 'CCI') 
    data['CCI_'+str(ndays)] = pd.Series(CCI, index=data.index) 
    return data

# Compute the Commodity Channel Index(CCI) for NIFTY based on the 20-day Moving average
for day in [5,10,20,60]:
    df=CCI(df,day)

In [0]:
df.head(20)

,Date,Open,High,Low,Close,Volume,Turnover,target,CCI_5,CCI_10,CCI_20,CCI_60
0,2010-01-04,5200.90,5238.45,5167.10,5232.20,148652424,6.531610e+10,0.0,NaN,NaN,NaN,NaN
1,2010-01-05,5277.15,5288.35,5242.40,5277.90,240844424,7.969620e+10,0.0,NaN,NaN,NaN,NaN
2,2010-01-06,5278.15,5310.85,5260.05,5281.80,216147837,7.892600e+10,1.0,NaN,NaN,NaN,NaN
3,2010-01-07,5281.80,5302.55,5244.75,5263.10,181246734,6.890990e+10,1.0,NaN,NaN,NaN,NaN
4,2010-01-08,5264.25,5276.75,5234.70,5244.75,201910800,7.777040e+10,0.0,-13.596443,NaN,NaN,NaN
5,2010-01-11,5263.80,5287.20,5227.80,5249.40,238011959,1.108055e+11,1.0,-57.999728,NaN,NaN,NaN
6,2010-01-12,5251.10,5300.50,5200.95,5210.40,206748015,8.648490e+10,0.0,-83.052305,NaN,NaN,NaN
7,2010-01-13,5212.60,5239.20,5169.55,5233.95,200774550,8.430480e+10,0.0,-99.417783,NaN,NaN,NaN
8,2010-01-14,5234.50,5272.85,5232.50,5259.90,171282618,7.824430e+10,1.0,47.158009,NaN,NaN,NaN
9,2010-01-15,5259.90,5279.85,5242.45,5252.20,167242355,6.927870e+10,0.0,51.320173,20.980257,NaN,NaN
10,2010-01-18,5253.65,5292.50,5228.95,5274.85,153687597,6.659870e+10,1.0,62.838597,32.082165,NaN,NaN
11,2010-01-19,5274.20,5287.80,5218.65,5225.65,141424524,6.197520e+10,1.0,-11.148834,-33.191220,NaN,NaN
12,2010-01-20,5226.10,5256.70,5201.40,5221.70,167867201,7.170510e+10,1.0,-102.609466,-80.961326,NaN,NaN
13,2010-01-21,5220.20,5220.35,5085.45,5094.15,190009431,7.943760e+10,1.0,-114.606494,-173.679539,NaN,NaN
14,2010-01-22,5094.15,5094.15,4954.85,5036.00,270251977,1.041408e+11,1.0,-102.417362,-163.248830,NaN,NaN
15,2010-01-25,5034.55,5035.70,4983.05,5007.90,166405391,5.714170e+10,1.0,-73.141822,-123.208168,NaN,NaN
16,2010-01-27,5008.50,5008.50,4833.05,4853.10,274773820,9.800330e+10,0.0,-85.504285,-130.310540,NaN,NaN
17,2010-01-28,4863.00,4929.90,4824.95,4867.25,275868897,1.061404e+11,0.0,-72.608159,-105.545249,NaN,NaN
18,2010-01-29,4866.15,4893.70,4766.00,4882.05,265191792,1.011663e+11,0.0,-68.397799,-91.611293,NaN,NaN
19,2010-02-01,4882.05,4918.80,4827.15,4899.70,226819473,7.255330e+10,1.0,-21.516234,-63.966893,-111.594591,NaN

In [0]:
# 2. Ease of movement EMV

def EMV(data, ndays): 
    dm = ((data['High'] + data['Low'])/2) - ((data['High'].shift(1) + data['Low'].shift(1))/2)
    br = (data['Volume'] / 100000000) / ((data['High'] - data['Low']))
    EMV = dm / br 
    EMV_MA=pd.Series(EMV.rolling(ndays).mean())
    data['EMV_MA_'+str(ndays)] = pd.Series(EMV_MA, index=data.index)  
    return data

for day in [5,10,20,60,150,240]:
    df=EMV(df,day)

In [0]:
df.head(50)

In [0]:
#@title Default title text
# Splitting data into meaningful features to capture the idea of time series behavior

def add_datepart(df, fldname):
    fld = df[fldname]
    if not np.issubdtype(fld.dtype, np.datetime64):
        df[fldname] = fld = pd.to_datetime(fld, infer_datetime_format=True)
    targ_pre = re.sub('[Dd]ate$', '', fldname)
    for n in ('Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear',
            'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start'):
        df[targ_pre+n] = getattr(fld.dt,n.lower())
    df[targ_pre+'Elapsed'] = fld.astype(np.int64) // 10**9
    return df

df=add_datepart(df,'Date')

# Convert boolean cols to int type
bool_cols=[col for col in df.columns if df[col].dtypes.name == 'bool']
for col in bool_cols:
    df[col] = df[col].astype(int)

In [0]:
df.head()

,Date,Open,High,Low,Close,Volume,Turnover,target,CCI_5,CCI_10,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,2010-01-04,5200.90,5238.45,5167.10,5232.20,148652424,6.531610e+10,0.0,NaN,NaN,...,4,0,4,0,0,0,0,0,0,1262563200
1,2010-01-05,5277.15,5288.35,5242.40,5277.90,240844424,7.969620e+10,0.0,NaN,NaN,...,5,1,5,0,0,0,0,0,0,1262649600
2,2010-01-06,5278.15,5310.85,5260.05,5281.80,216147837,7.892600e+10,1.0,NaN,NaN,...,6,2,6,0,0,0,0,0,0,1262736000
3,2010-01-07,5281.80,5302.55,5244.75,5263.10,181246734,6.890990e+10,1.0,NaN,NaN,...,7,3,7,0,0,0,0,0,0,1262822400
4,2010-01-08,5264.25,5276.75,5234.70,5244.75,201910800,7.777040e+10,0.0,-13.596443,NaN,...,8,4,8,0,0,0,0,0,0,1262908800

In [0]:
df=df=add_datepart(df,'Date')

In [0]:
# Replacing the raw prices with their daily returns

df['Open']=df['Open']-df['Open'].shift(1)
df['High']=df['High']-df['High'].shift(1)
df['Low']=df['Low']-df['Low'].shift(1)
df['Close']=df['Close']-df['Close'].shift(1)

In [0]:
df.head()

,Date,Open,High,Low,Close,Volume,Turnover,target,CCI_5,CCI_10,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,2010-01-04,NaN,NaN,NaN,NaN,148652424,6.531610e+10,1.0,NaN,NaN,...,4,0,4,0,0,0,0,0,0,1262563200
1,2010-01-05,76.25,49.9,75.30,45.70,240844424,7.969620e+10,1.0,NaN,NaN,...,5,1,5,0,0,0,0,0,0,1262649600
2,2010-01-06,1.00,22.5,17.65,3.90,216147837,7.892600e+10,0.0,NaN,NaN,...,6,2,6,0,0,0,0,0,0,1262736000
3,2010-01-07,3.65,-8.3,-15.30,-18.70,181246734,6.890990e+10,0.0,NaN,NaN,...,7,3,7,0,0,0,0,0,0,1262822400
4,2010-01-08,-17.55,-25.8,-10.05,-18.35,201910800,7.777040e+10,1.0,-13.596443,NaN,...,8,4,8,0,0,0,0,0,0,1262908800

### Splitting data into train and test

In [0]:
def temporal_splitting(data,date1,date2):
    train=data.loc[data['Date'] < date1,:]
    val=data.loc[(data['Date'] >= date1) & (data['Date'] < date2),:]
    test=data.loc[data['Date'] >= date2]
    
    return train, val, test

In [0]:
train, val,test=temporal_splitting(df,'2017-01-01','2018-05-08')

In [0]:
train.shape,val.shape,test.shape

((1739, 31), (333, 31), (247, 31))

In [0]:
def my_var_columns(data,cols_to_remove):
    vars__ = list(data.columns[~data.columns.isin(cols_to_remove)])
    return vars__

In [0]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Turnover', 'target',
       'CCI_5', 'CCI_10', 'CCI_20', 'CCI_60', 'EMV_MA_5', 'EMV_MA_10',
       'EMV_MA_20', 'EMV_MA_60', 'EMV_MA_150', 'EMV_MA_240', 'Year', 'Month',
       'Week', 'Day', 'Dayofweek', 'Dayofyear', 'Is_month_end',
       'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end',
       'Is_year_start', 'Elapsed'],
      dtype='object')

In [0]:
DV='target'

# Drop columns which are not required
cols_to_remove=['Date',DV,'Turnover']

In [0]:
train_cols = my_var_columns(df,cols_to_remove)

In [0]:
train_cols

['Open',
 'High',
 'Low',
 'Close',
 'Volume',
 'CCI_5',
 'CCI_10',
 'CCI_20',
 'CCI_60',
 'EMV_MA_5',
 'EMV_MA_10',
 'EMV_MA_20',
 'EMV_MA_60',
 'EMV_MA_150',
 'EMV_MA_240',
 'Year',
 'Month',
 'Week',
 'Day',
 'Dayofweek',
 'Dayofyear',
 'Is_month_end',
 'Is_month_start',
 'Is_quarter_end',
 'Is_quarter_start',
 'Is_year_end',
 'Is_year_start',
 'Elapsed']

In [0]:
X_train=train[train_cols]
X_val=val[train_cols]
X_test=test[train_cols]

Y_train=train[DV]
Y_val=val[DV]
Y_test=test[DV]

In [0]:
X_train.tail()

,Open,High,Low,Close,Volume,CCI_5,CCI_10,CCI_20,CCI_60,EMV_MA_5,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
1734,7965.10,7970.05,7893.80,7908.25,110171222,-87.291530,-116.236720,-161.196720,-106.900721,-2273.544635,...,26,0,361,0,0,0,0,0,0,1482710400
1735,7915.05,8044.65,7903.70,8032.85,122463312,-1.258050,-55.292972,-94.845697,-86.646411,-1112.791185,...,27,1,362,0,0,0,0,0,0,1482796800
1736,8047.55,8100.55,8028.40,8034.85,130580701,91.970731,0.138721,-44.937387,-69.373257,-17.049045,...,28,2,363,0,0,0,0,0,0,1482883200
1737,8030.60,8111.10,8020.80,8103.60,183984077,78.007352,31.929433,-22.931032,-61.494673,992.892181,...,29,3,364,0,0,0,0,0,0,1482969600
1738,8119.65,8197.00,8114.75,8185.80,131457250,89.826316,110.094271,41.165853,-38.254535,2412.551668,...,30,4,365,0,0,0,0,0,0,1483056000

In [0]:
print(Y_train.value_counts())
print(Y_val.value_counts())
print(Y_test.value_counts())

0.0    904
1.0    833
Name: target, dtype: int64
0.0    187
1.0    145
Name: target, dtype: int64
0.0    130
1.0    117
Name: target, dtype: int64

In [0]:
# Impute the missing values
X_train=X_train.fillna(X_train.mean())
X_val=X_val.fillna(X_train.mean())
X_test=X_test.fillna(X_train.mean())

In [0]:
X_train.dtypes

Open                float64
High                float64
Low                 float64
Close               float64
Volume                int64
CCI_5               float64
CCI_10              float64
CCI_20              float64
CCI_60              float64
EMV_MA_5            float64
EMV_MA_10           float64
EMV_MA_20           float64
EMV_MA_60           float64
EMV_MA_150          float64
EMV_MA_240          float64
Year                  int64
Month                 int64
Week                  int64
Day                   int64
Dayofweek             int64
Dayofyear             int64
Is_month_end          int32
Is_month_start        int32
Is_quarter_end        int32
Is_quarter_start      int32
Is_year_end           int32
Is_year_start         int32
Elapsed               int64
dtype: object

In [0]:
df.dropna(subset=[DV], how='all', inplace = True)

### Training XgBoost classifier

In [0]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from datetime import datetime
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.metrics import roc_auc_score
from xgboost import XGBClassifier
from sklearn.model_selection import TimeSeriesSplit

import xgboost as xgb
import lightgbm as lgb
import bayes_opt as bayso
from sklearn.metrics import accuracy_score,confusion_matrix

In [0]:
def lgbcv1(min_child_weight,
           colsample_bytree,
           max_depth,
           subsample,
           min_gain_to_split,
           reg_alpha,
           reg_lambda):

    params = {
        'objective': 'binary',
        'metric': 'auc',
        'boosting': 'gbdt',
        'random_state' : 501, # Updated from 'seed'
        'n_estimators' : 150,
        'learning_rate': 0.01,
        'early_stopping_round' : 10,
        'verbose': 20,
        'num_leaves': 31,
        'min_data_in_leaf': 50,
        'bagging_freq': 1,
        'bagging_seed': RS,
        'feature_fraction_seed': RS,
        'max_bin': 50,
        'min_child_weight': int(min_child_weight),
        'colsample_bytree': max(min(colsample_bytree, 1), 0),
        'max_depth': int(max_depth),
        'subsample': max(min(subsample, 1), 0),
        'min_gain_to_split': max(min_gain_to_split,0),
        'reg_alpha': max(reg_alpha,0),
        'reg_lambda': max(reg_lambda,0)
    }


    cv_result = lgb.cv(params, lgtrain, nfold=5, seed=0, verbose_eval =200,stratified=False,shuffle=False)

    return max(cv_result['auc-mean'])

In [0]:
def prepare_data():
    lgtrain = lgb.Dataset(X_train, label=Y_train)

    return lgtrain

In [0]:
if __name__ == '__main__':
    lgtrain =  prepare_data()
    random_state = 2019
    init_points = 60
    numitems=30
    RS = 20190523
    np.random.seed(RS)
    lgbo = bayso.BayesianOptimization(lgbcv1,
                                      {'min_child_weight': (1, 20),
                                      'colsample_bytree': (0.8, 1),
                                      'max_depth': (3, 5),
                                      'subsample': (0.3, 1.0),
                                      'min_gain_to_split': (0, 20),
                                      'reg_alpha': (0, 10),
                                      'reg_lambda': (0, 100)})
    
    lgbo.maximize(init_points=init_points, n_iter=numitems)

|   iter    |  target   | colsam... | max_depth | min_ch... | min_ga... | reg_alpha | reg_la... | subsample |
-------------------------------------------------------------------------------------------------------------
|  1        |  0.4989   |  0.8674   |  3.389    |  15.66    |  8.634    |  3.469    |  76.81    |  0.4983   |
|  2        |  0.4989   |  0.8561   |  3.529    |  6.769    |  7.025    |  7.794    |  29.85    |  0.4963   |
|  3        |  0.4989   |  0.9416   |  4.91     |  2.967    |  17.92    |  4.406    |  34.09    |  0.782    |
|  4        |  0.4989   |  0.923    |  4.298    |  14.72    |  7.07     |  2.418    |  35.23    |  0.5627   |
|  5        |  0.4989   |  0.9248   |  4.394    |  13.18    |  10.03    |  8.152    |  43.12    |  0.313    |
|  6        |  0.5117   |  0.9146   |  4.68     |  6.7      |  2.276    |  2.084    |  37.63    |  0.3435   |
|  7        |  0.4989   |  0.9076   |  3.999    |  13.78    |  12.26    |  9.835    |  54.83    |  0.3512   |
|  8        |  0.4989   |  0.8005   |  3.386    |  8.648    |  9.244    |  7.109    |  25.56    |  0.9424   |
|  9        |  0.4989   |  0.9907   |  4.698    |  12.21    |  19.86    |  9.913    |  27.73    |  0.3671   |
|  10       |  0.4989   |  0.9551   |  3.552    |  7.357    |  18.17    |  0.5378   |  24.09    |  0.5073   |
|  11       |  0.4989   |  0.8413   |  4.203    |  18.38    |  11.84    |  5.848    |  13.13    |  0.8637   |
|  12       |  0.4989   |  0.9602   |  4.279    |  11.02    |  3.575    |  4.824    |  37.5     |  0.3292   |
|  13       |  0.4989   |  0.9926   |  3.565    |  2.096    |  4.093    |  7.327    |  59.92    |  0.8863   |
|  14       |  0.4989   |  0.8553   |  3.251    |  11.43    |  13.1     |  7.455    |  0.9389   |  0.5343   |
|  15       |  0.4952   |  0.9889   |  3.442    |  12.36    |  6.293    |  3.989    |  16.12    |  0.4429   |
|  16       |  0.4989   |  0.9045   |  4.803    |  18.29    |  15.72    |  3.675    |  38.42    |  0.9218   |
|  17       |  0.5043   |  0.8487   |  4.048    |  15.5     |  1.707    |  3.244    |  52.18    |  0.5173   |
|  18       |  0.4989   |  0.9066   |  4.81     |  9.192    |  12.34    |  8.252    |  67.03    |  0.3611   |
|  19       |  0.4989   |  0.9724   |  4.1      |  18.7     |  17.63    |  8.823    |  8.567    |  0.6346   |
|  20       |  0.4989   |  0.9306   |  3.553    |  3.323    |  15.91    |  3.519    |  97.07    |  0.9699   |
|  21       |  0.4989   |  0.9623   |  4.066    |  8.321    |  12.13    |  9.737    |  74.34    |  0.7157   |
|  22       |  0.5132   |  0.9807   |  4.465    |  15.25    |  1.766    |  4.861    |  0.3897   |  0.7356   |
|  23       |  0.4989   |  0.9251   |  3.342    |  6.258    |  17.54    |  5.702    |  17.72    |  0.572    |
|  24       |  0.4937   |  0.9496   |  4.035    |  7.029    |  4.309    |  1.513    |  45.19    |  0.387    |
|  25       |  0.4989   |  0.9586   |  3.533    |  6.663    |  6.136    |  1.904    |  94.17    |  0.8132   |
|  26       |  0.4989   |  0.8858   |  3.967    |  4.0      |  8.892    |  2.29     |  63.73    |  0.8573   |
|  27       |  0.4989   |  0.8445   |  4.076    |  17.08    |  16.65    |  9.749    |  79.21    |  0.9459   |
|  28       |  0.4989   |  0.8368   |  4.629    |  8.063    |  18.83    |  6.958    |  57.92    |  0.6671   |
|  29       |  0.4989   |  0.9922   |  4.33     |  14.59    |  14.03    |  2.817    |  39.64    |  0.6304   |
|  30       |  0.4989   |  0.9749   |  4.146    |  12.34    |  16.27    |  7.682    |  27.93    |  0.6676   |
|  31       |  0.4989   |  0.8468   |  3.711    |  18.79    |  19.14    |  5.42     |  1.073    |  0.4055   |
|  32       |  0.4943   |  0.8366   |  4.355    |  6.833    |  5.14     |  0.3973   |  80.87    |  0.5996   |
|  33       |  0.4989   |  0.8065   |  4.964    |  18.37    |  12.68    |  5.907    |  34.17    |  0.6958   |
|  34       |  0.5138   |  0.9822   |  3.091    |  6.001    |  0.1195   |  0.5097   |  27.91    |  0.6043   |
|  35       |  0.4914   |  0.8042   |  4.471    |  11.16    |  1.168    |  5.695    |  76.71    |  0.4564   |
|  36       |  0.5024   |  0.9403   |  3.496    |  17.78    |  3.205    |  7.745    |  62.77    |  0.9156   |
|  37       |  0.4989   |  0.9682   |  3.834    |  7.952    |  12.39    |  1.755    |  22.97    |  0.8954   |
|  38       |  0.4989   |  0.8525   |  3.745    |  5.695    |  8.778    |  4.822    |  70.9     |  0.8946   |
|  39       |  0.4989   |  0.9392   |  4.634    |  18.06    |  6.476    |  1.293    |  69.38    |  0.3294   |
|  40       |  0.4989   |  0.8157   |  4.981    |  9.471    |  18.82    |  3.186    |  73.34    |  0.3874   |
|  41       |  0.4989   |  0.8462   |  4.096    |  3.982    |  19.16    |  7.321    |  65.76    |  0.7817   |
|  42       |  0.4989   |  0.8974   |  3.077    |  3.617    |  18.86    |  7.713    |  82.04    |  0.359    |
|  43       |  0.4989   |  0.84     |  3.438    |  8.835    |  18.25    |  7.974    |  37.3     |  0.7183   |
|  44       |  0.4989   |  0.9537   |  4.923    |  9.746    |  17.73    |  7.922    |  97.94    |  0.4141   |

|  45       |  0.4989   |  0.9078   |  4.538    |  1.141    |  14.9     |  8.614    |  1.939    |  0.7017   |
|  46       |  0.4989   |  0.8193   |  4.513    |  3.145    |  11.89    |  2.751    |  18.87    |  0.8959   |
|  47       |  0.4989   |  0.8238   |  4.913    |  9.321    |  15.16    |  1.045    |  77.93    |  0.3591   |
|  48       |  0.4989   |  0.9015   |  3.22     |  12.78    |  4.512    |  6.284    |  74.34    |  0.4701   |
|  49       |  0.4989   |  0.8384   |  4.772    |  14.42    |  10.52    |  7.875    |  35.46    |  0.3289   |
|  50       |  0.4989   |  0.8028   |  3.786    |  3.08     |  10.11    |  2.881    |  27.97    |  0.6433   |
|  51       |  0.4846   |  0.9659   |  4.549    |  16.21    |  4.046    |  5.551    |  2.566    |  0.4323   |
|  52       |  0.4989   |  0.8823   |  3.561    |  1.72     |  9.06     |  6.331    |  51.94    |  0.5138   |
|  53       |  0.4989   |  0.8937   |  3.511    |  10.33    |  9.131    |  4.387    |  52.42    |  0.9159   |
|  54       |  0.4989   |  0.9397   |  3.96     |  5.73     |  13.77    |  3.308    |  4.278    |  0.7859   |
|  55       |  0.4989   |  0.9782   |  3.293    |  2.529    |  13.82    |  4.423    |  99.9     |  0.4611   |
|  56       |  0.4989   |  0.9327   |  3.75     |  15.49    |  4.54     |  6.858    |  1.554    |  0.3294   |
|  57       |  0.4989   |  0.8838   |  4.441    |  18.46    |  7.12     |  7.613    |  19.13    |  0.9001   |
|  58       |  0.4962   |  0.9963   |  3.854    |  5.72     |  8.474    |  0.2907   |  7.126    |  0.8019   |
|  59       |  0.4989   |  0.8269   |  4.831    |  18.93    |  8.332    |  6.347    |  66.09    |  0.323    |
|  60       |  0.5064   |  0.8065   |  4.568    |  13.19    |  2.919    |  2.813    |  41.2     |  0.9075   |
|  61       |  0.514    |  0.9397   |  3.169    |  1.607    |  0.6048   |  9.753    |  2.001    |  0.9147   |
|  62       |  0.4989   |  0.8024   |  3.708    |  18.13    |  19.66    |  0.3326   |  99.89    |  0.6893   |
|  63       |  0.5238   |  0.8      |  3.0      |  1.0      |  0.0      |  0.3709   |  0.0      |  0.3      |
|  64       |  0.4957   |  0.9135   |  3.402    |  19.19    |  2.287    |  9.892    |  99.46    |  0.8641   |
|  65       |  0.4989   |  0.921    |  3.32     |  1.548    |  19.97    |  0.2516   |  1.339    |  0.5414   |
|  66       |  0.5286   |  0.9034   |  3.091    |  19.81    |  1.382    |  1.554    |  0.1807   |  0.8733   |
|  67       |  0.5054   |  0.9299   |  3.126    |  1.21     |  0.7581   |  9.747    |  94.98    |  0.6889   |
|  68       |  0.5156   |  0.9588   |  3.053    |  18.05    |  0.01789  |  6.965    |  0.6684   |  0.8614   |
|  69       |  0.5266   |  0.8692   |  4.805    |  1.179    |  0.4227   |  9.777    |  41.1     |  0.9462   |
|  70       |  0.5181   |  0.8482   |  4.971    |  1.327    |  0.07595  |  0.3236   |  36.01    |  0.9953   |
|  71       |  0.5207   |  0.925    |  3.182    |  9.531    |  1.453    |  1.04     |  0.3106   |  0.9994   |
|  72       |  0.5131   |  0.8723   |  3.123    |  6.473    |  0.3491   |  0.1192   |  99.73    |  0.8866   |
|  73       |  0.4989   |  0.8163   |  3.61     |  18.99    |  19.52    |  0.3135   |  18.18    |  0.7678   |
|  74       |  0.5207   |  0.8244   |  3.099    |  19.35    |  0.3328   |  0.3839   |  96.95    |  0.9175   |
|  75       |  0.5121   |  0.8226   |  4.724    |  1.4      |  0.1717   |  9.579    |  31.79    |  0.6329   |
|  76       |  0.4989   |  0.8686   |  3.4      |  19.98    |  19.58    |  0.1475   |  60.56    |  0.5509   |
|  77       |  0.4989   |  0.8049   |  4.798    |  1.215    |  19.62    |  9.107    |  98.06    |  0.9085   |
|  78       |  0.5118   |  0.9607   |  3.058    |  18.23    |  0.8958   |  0.2723   |  0.03722  |  0.4475   |
|  79       |  0.4916   |  0.8137   |  3.83     |  1.056    |  7.898    |  2.604    |  0.1378   |  0.6641   |
|  80       |  0.5145   |  0.8587   |  4.651    |  18.79    |  0.6451   |  0.1432   |  99.99    |  0.7595   |
|  81       |  0.4989   |  0.9464   |  3.042    |  17.84    |  19.25    |  9.689    |  97.93    |  0.9827   |
|  82       |  0.4989   |  0.992    |  3.38     |  17.93    |  9.541    |  9.906    |  0.3388   |  0.9999   |
|  83       |  0.5162   |  0.8442   |  3.362    |  1.327    |  0.08741  |  1.062    |  13.58    |  0.9926   |
|  84       |  0.4906   |  0.8545   |  4.844    |  1.159    |  2.308    |  0.1385   |  99.98    |  0.433    |
|  85       |  0.5212   |  0.8449   |  3.062    |  19.91    |  0.6857   |  0.1866   |  37.33    |  0.8752   |
|  86       |  0.5276   |  0.8466   |  3.936    |  19.58    |  0.2078   |  0.1593   |  57.47    |  0.8476   |
|  87       |  0.5275   |  0.8047   |  4.955    |  3.068    |  0.05987  |  0.4947   |  0.01082  |  0.973    |
|  88       |  0.4989   |  0.8204   |  4.375    |  19.89    |  7.797    |  0.3872   |  51.25    |  0.9883   |
|  89       |  0.5132   |  0.849    |  4.939    |  18.16    |  0.2631   |  0.6101   |  25.95    |  0.9526   |

|  90       |  0.5314   |  0.9653   |  3.101    |  19.22    |  0.1452   |  0.02356  |  77.87    |  0.9053   |
=============================================================================================================

In [0]:
lgbo.res

[{'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.8674486612030401,
   'max_depth': 3.389357418736848,
   'min_child_weight': 15.664398724508612,
   'min_gain_to_split': 8.633856483986035,
   'reg_alpha': 3.4691987334898258,
   'reg_lambda': 76.81304453217209,
   'subsample': 0.4983353175713623}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.8560993979534014,
   'max_depth': 3.528708299488007,
   'min_child_weight': 6.768782399516305,
   'min_gain_to_split': 7.025060859900531,
   'reg_alpha': 7.7941124213820245,
   'reg_lambda': 29.8481495639883,
   'subsample': 0.4962821950864367}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.9415757534264778,
   'max_depth': 4.910240661952569,
   'min_child_weight': 2.966958433218232,
   'min_gain_to_split': 17.917717690393083,
   'reg_alpha': 4.406211897778432,
   'reg_lambda': 34.091920966488445,
   'subsample': 0.7820140680738819}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.9229811726881112,
   'max_depth': 4.29821009312948,
   'min_child_weight': 14.723553787521485,
   'min_gain_to_split': 7.070323633998996,
   'reg_alpha': 2.417809143127443,
   'reg_lambda': 35.22890267137805,
   'subsample': 0.5626980943118014}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.9247872087886156,
   'max_depth': 4.393933969950581,
   'min_child_weight': 13.176270080489697,
   'min_gain_to_split': 10.03291054828646,
   'reg_alpha': 8.15163151200604,
   'reg_lambda': 43.12478649862671,
   'subsample': 0.3130206267898404}},
 {'target': 0.5116952055591051,
  'params': {'colsample_bytree': 0.914584762897412,
   'max_depth': 4.679839745485763,
   'min_child_weight': 6.699981528174955,
   'min_gain_to_split': 2.2758955832370598,
   'reg_alpha': 2.0838487529592764,
   'reg_lambda': 37.62678253573404,
   'subsample': 0.3434969033852936}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.9075592292738021,
   'max_depth': 3.998905716771608,
   'min_child_weight': 13.775876892709068,
   'min_gain_to_split': 12.2647232336276,
   'reg_alpha': 9.835011008204802,
   'reg_lambda': 54.833580907780224,
   'subsample': 0.35116272234962154}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.8004674857004687,
   'max_depth': 3.3861778580810142,
   'min_child_weight': 8.6475136164865,
   'min_gain_to_split': 9.243727391764942,
   'reg_alpha': 7.1092792901972235,
   'reg_lambda': 25.561907280916618,
   'subsample': 0.9424470321389407}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.9906618646752996,
   'max_depth': 4.698076714521807,
   'min_child_weight': 12.210869449672359,
   'min_gain_to_split': 19.85660135305164,
   'reg_alpha': 9.912897731566778,
   'reg_lambda': 27.72594919976904,
   'subsample': 0.36707799537150443}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.9550738459691454,
   'max_depth': 3.551918633526534,
   'min_child_weight': 7.357005554053968,
   'min_gain_to_split': 18.166825372382313,
   'reg_alpha': 0.5378149379276798,
   'reg_lambda': 24.08600064218811,
   'subsample': 0.507300382372755}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.8413240933097281,
   'max_depth': 4.2034558870715,
   'min_child_weight': 18.377767486991253,
   'min_gain_to_split': 11.836175989171256,
   'reg_alpha': 5.847672387907378,
   'reg_lambda': 13.12718047132998,
   'subsample': 0.8637029053574743}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.9602140036084459,
   'max_depth': 4.279100705177113,
   'min_child_weight': 11.015586649822257,
   'min_gain_to_split': 3.5751213865520026,
   'reg_alpha': 4.824286698228234,
   'reg_lambda': 37.501596291395614,
   'subsample': 0.3292467954789149}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.9925632035373424,
   'max_depth': 3.5645498392430293,
   'min_child_weight': 2.096444034515225,
   'min_gain_to_split': 4.093317266468448,
   'reg_alpha': 7.32723051898092,
   'reg_lambda': 59.915065511522016,
   'subsample': 0.8863086664782986}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.8552645237189141,
   'max_depth': 3.2509087750395285,
   'min_child_weight': 11.430075432067943,
   'min_gain_to_split': 13.10374941242074,
   'reg_alpha': 7.455234577160179,
   'reg_lambda': 0.9389096940485842,
   'subsample': 0.5342534739620669}},
 {'target': 0.49521972830179317,
  'params': {'colsample_bytree': 0.9888696420587857,
   'max_depth': 3.442286846946119,
   'min_child_weight': 12.363483440370233,
   'min_gain_to_split': 6.293156287416062,
   'reg_alpha': 3.9892513971171972,
   'reg_lambda': 16.12499354059066,
   'subsample': 0.44294892138044517}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.9044933302463717,
   'max_depth': 4.8027251531982715,
   'min_child_weight': 18.290840518762305,
   'min_gain_to_split': 15.715153630088457,
   'reg_alpha': 3.6751221210457032,
   'reg_lambda': 38.4151519210457,
   'subsample': 0.9218169475803872}},
 {'target': 0.5042750844862843,
  'params': {'colsample_bytree': 0.848707945826118,
   'max_depth': 4.04753915287637,
   'min_child_weight': 15.503593233840174,
   'min_gain_to_split': 1.7071761073221547,
   'reg_alpha': 3.2439801050291575,
   'reg_lambda': 52.17931764371247,
   'subsample': 0.5173228301293828}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.9065824672329452,
   'max_depth': 4.809897820612592,
   'min_child_weight': 9.191732335585725,
   'min_gain_to_split': 12.337343662706147,
   'reg_alpha': 8.252489585624998,
   'reg_lambda': 67.02855288868265,
   'subsample': 0.36110635843673233}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.9724211956274234,
   'max_depth': 4.099785190388381,
   'min_child_weight': 18.697198759122347,
   'min_gain_to_split': 17.626670391489352,
   'reg_alpha': 8.82308110204759,
   'reg_lambda': 8.566898514631461,
   'subsample': 0.6345631911855412}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.9305724084986478,
   'max_depth': 3.5531331394350976,
   'min_child_weight': 3.3230450732788053,
   'min_gain_to_split': 15.91261718967549,
   'reg_alpha': 3.519200709076611,
   'reg_lambda': 97.07246896096896,
   'subsample': 0.9699044557610319}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.96228840566465,
   'max_depth': 4.066098490503076,
   'min_child_weight': 8.320901658979835,
   'min_gain_to_split': 12.134414425420362,
   'reg_alpha': 9.73672591396692,
   'reg_lambda': 74.33911792655334,
   'subsample': 0.7157307464174539}},
 {'target': 0.5132497762117068,
  'params': {'colsample_bytree': 0.9806968250499783,
   'max_depth': 4.465183925339711,
   'min_child_weight': 15.247125875894518,
   'min_gain_to_split': 1.7664268609973788,
   'reg_alpha': 4.860904995841868,
   'reg_lambda': 0.38968804609409435,
   'subsample': 0.7356223030719395}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.925092422383065,
   'max_depth': 3.3424996575429264,
   'min_child_weight': 6.257746074000275,
   'min_gain_to_split': 17.537346687196155,
   'reg_alpha': 5.7018201111308,
   'reg_lambda': 17.72253080329833,
   'subsample': 0.5719789194973528}},
 {'target': 0.49370821484880906,
  'params': {'colsample_bytree': 0.9496212238369472,
   'max_depth': 4.035054440431821,
   'min_child_weight': 7.028897683677488,
   'min_gain_to_split': 4.308580866909009,
   'reg_alpha': 1.5132684109191896,
   'reg_lambda': 45.18688725037793,
   'subsample': 0.3870446478909401}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.9585874651019529,
   'max_depth': 3.533453233432078,
   'min_child_weight': 6.663189088965304,
   'min_gain_to_split': 6.136222538940917,
   'reg_alpha': 1.9035050913982243,
   'reg_lambda': 94.16822403745856,
   'subsample': 0.8132159479338119}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.8857596507020736,
   'max_depth': 3.967020010021786,
   'min_child_weight': 3.9998934762140026,
   'min_gain_to_split': 8.891527870490044,
   'reg_alpha': 2.290194699307192,
   'reg_lambda': 63.72895955239197,
   'subsample': 0.8573049295973618}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.8444668898175779,
   'max_depth': 4.075723193893884,
   'min_child_weight': 17.0750290425266,
   'min_gain_to_split': 16.649284901012777,
   'reg_alpha': 9.749324988272456,
   'reg_lambda': 79.20579108837728,
   'subsample': 0.9459174720914347}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.836838488002913,
   'max_depth': 4.628943227640947,
   'min_child_weight': 8.06297939191467,
   'min_gain_to_split': 18.8278720252023,
   'reg_alpha': 6.958128128741067,
   'reg_lambda': 57.92227902490615,
   'subsample': 0.6670804141091264}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.9922497564490056,
   'max_depth': 4.329638977810947,
   'min_child_weight': 14.590286841261626,
   'min_gain_to_split': 14.03469220704348,
   'reg_alpha': 2.817195189588965,
   'reg_lambda': 39.64199219265464,
   'subsample': 0.6303896281710776}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.9748988650109277,
   'max_depth': 4.145610698483625,
   'min_child_weight': 12.34476831252348,
   'min_gain_to_split': 16.272213567123796,
   'reg_alpha': 7.682242182172167,
   'reg_lambda': 27.933668989313098,
   'subsample': 0.6676457459836196}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.8467901556031664,
   'max_depth': 3.7105780813894773,
   'min_child_weight': 18.788040920520384,
   'min_gain_to_split': 19.136890092529196,
   'reg_alpha': 5.419564808150737,
   'reg_lambda': 1.0725662381610879,
   'subsample': 0.4055496152765066}},
 {'target': 0.49432078093675963,
  'params': {'colsample_bytree': 0.8366133324025493,
   'max_depth': 4.3550035496287745,
   'min_child_weight': 6.832842663280397,
   'min_gain_to_split': 5.140217062365037,
   'reg_alpha': 0.39729642748280614,
   'reg_lambda': 80.86970283901016,
   'subsample': 0.5996137743236372}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.806497495073848,
   'max_depth': 4.963676794112625,
   'min_child_weight': 18.370757551645735,
   'min_gain_to_split': 12.679111307515022,
   'reg_alpha': 5.906699912867307,
   'reg_lambda': 34.172011317730586,
   'subsample': 0.6958165377502594}},
 {'target': 0.5138366063133618,
  'params': {'colsample_bytree': 0.9821826921407723,
   'max_depth': 3.0908520754136317,
   'min_child_weight': 6.001080353903798,
   'min_gain_to_split': 0.11946148929292688,
   'reg_alpha': 0.509680619061148,
   'reg_lambda': 27.907999598440824,
   'subsample': 0.6043468274393698}},
 {'target': 0.491376070853453,
  'params': {'colsample_bytree': 0.8042199334214243,
   'max_depth': 4.47145867441049,
   'min_child_weight': 11.15956215605225,
   'min_gain_to_split': 1.1676683735954585,
   'reg_alpha': 5.695019696728112,
   'reg_lambda': 76.70648455203786,
   'subsample': 0.45643351718560543}},
 {'target': 0.5024268076855674,
  'params': {'colsample_bytree': 0.9402793349873322,
   'max_depth': 3.4960523578963842,
   'min_child_weight': 17.775030025824137,
   'min_gain_to_split': 3.204819246845496,
   'reg_alpha': 7.744502745751016,
   'reg_lambda': 62.773387656888765,
   'subsample': 0.9155960543920953}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.9682462413211589,
   'max_depth': 3.8336157937922377,
   'min_child_weight': 7.9521330979927125,
   'min_gain_to_split': 12.392786163970191,
   'reg_alpha': 1.7545626383017976,
   'reg_lambda': 22.974577488282854,
   'subsample': 0.895368672522497}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.8524557560006887,
   'max_depth': 3.7453118859570687,
   'min_child_weight': 5.694842055410439,
   'min_gain_to_split': 8.777737162649903,
   'reg_alpha': 4.821980980325736,
   'reg_lambda': 70.90252211232838,
   'subsample': 0.894573565969428}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.9392021304751093,
   'max_depth': 4.633538454207312,
   'min_child_weight': 18.05750766470349,
   'min_gain_to_split': 6.476185335956708,
   'reg_alpha': 1.2926751499465972,
   'reg_lambda': 69.37990644599553,
   'subsample': 0.3293998042053223}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.8157339010894087,
   'max_depth': 4.981442500343683,
   'min_child_weight': 9.470851382617411,
   'min_gain_to_split': 18.82425127025927,
   'reg_alpha': 3.1863896846538498,
   'reg_lambda': 73.34225127370762,
   'subsample': 0.3874236229358044}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.8462411658999875,
   'max_depth': 4.095794436402822,
   'min_child_weight': 3.9818675903643816,
   'min_gain_to_split': 19.163604334466402,
   'reg_alpha': 7.321038120622996,
   'reg_lambda': 65.76032881909758,
   'subsample': 0.7817188478381131}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.8973975543233104,
   'max_depth': 3.077351659750165,
   'min_child_weight': 3.6173121301339513,
   'min_gain_to_split': 18.86419491669434,
   'reg_alpha': 7.712609615412482,
   'reg_lambda': 82.04122028487312,
   'subsample': 0.358969453682446}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.8400059524046551,
   'max_depth': 3.4378592586081353,
   'min_child_weight': 8.834864608628838,
   'min_gain_to_split': 18.248383185613154,
   'reg_alpha': 7.974059645914955,
   'reg_lambda': 37.302697096112865,
   'subsample': 0.718326366773036}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.9537146579806188,
   'max_depth': 4.922911220913862,
   'min_child_weight': 9.745809338269616,
   'min_gain_to_split': 17.73069053289088,
   'reg_alpha': 7.9221374418249,
   'reg_lambda': 97.93765559638716,
   'subsample': 0.4140505903315453}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.9077804147917988,
   'max_depth': 4.537855395894276,
   'min_child_weight': 1.1409824546812481,
   'min_gain_to_split': 14.901576863072734,
   'reg_alpha': 8.61435087731377,
   'reg_lambda': 1.9388593622895578,
   'subsample': 0.701701899013113}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.8192770138352374,
   'max_depth': 4.512657548185052,
   'min_child_weight': 3.1446967964958463,
   'min_gain_to_split': 11.886726175753356,
   'reg_alpha': 2.7509743380465315,
   'reg_lambda': 18.874210285627523,
   'subsample': 0.8958888302869326}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.8238135105579896,
   'max_depth': 4.912949788030087,
   'min_child_weight': 9.320668466067158,
   'min_gain_to_split': 15.161972447073941,
   'reg_alpha': 1.0449800408579901,
   'reg_lambda': 77.93479432230008,
   'subsample': 0.3590866146835537}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.9014984049988598,
   'max_depth': 3.2199424008755475,
   'min_child_weight': 12.775268138448027,
   'min_gain_to_split': 4.51247470423028,
   'reg_alpha': 6.284331730490138,
   'reg_lambda': 74.33996723945845,
   'subsample': 0.47008288029146544}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.8383504915316624,
   'max_depth': 4.771639266159042,
   'min_child_weight': 14.415781555842319,
   'min_gain_to_split': 10.519911494514897,
   'reg_alpha': 7.87483975995263,
   'reg_lambda': 35.462465332594185,
   'subsample': 0.32889026116040837}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.8027506082864422,
   'max_depth': 3.7864854034034954,
   'min_child_weight': 3.080295710161961,
   'min_gain_to_split': 10.114321196432902,
   'reg_alpha': 2.881446917833622,
   'reg_lambda': 27.96980262801427,
   'subsample': 0.6432840004613034}},
 {'target': 0.4845668473174287,
  'params': {'colsample_bytree': 0.9658981367844729,
   'max_depth': 4.549261792893151,
   'min_child_weight': 16.208648546284856,
   'min_gain_to_split': 4.045547017445359,
   'reg_alpha': 5.55056692049609,
   'reg_lambda': 2.5658137606001663,
   'subsample': 0.43228893247390665}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.8822613462500248,
   'max_depth': 3.561360962094316,
   'min_child_weight': 1.719943221518607,
   'min_gain_to_split': 9.060349038302903,
   'reg_alpha': 6.331125746600438,
   'reg_lambda': 51.93577206801662,
   'subsample': 0.5137557971403379}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.8937028202584415,
   'max_depth': 3.511368855363548,
   'min_child_weight': 10.327915419459744,
   'min_gain_to_split': 9.13066648397695,
   'reg_alpha': 4.387146689933493,
   'reg_lambda': 52.42441949249933,
   'subsample': 0.9159494708875264}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.939675190383695,
   'max_depth': 3.959861134332601,
   'min_child_weight': 5.730103772267409,
   'min_gain_to_split': 13.770136301896072,
   'reg_alpha': 3.3078258623420984,
   'reg_lambda': 4.278029981655907,
   'subsample': 0.785857018740167}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.9781648876630072,
   'max_depth': 3.2929601751316397,
   'min_child_weight': 2.529144280951261,
   'min_gain_to_split': 13.824927316850275,
   'reg_alpha': 4.422500553515803,
   'reg_lambda': 99.90327698893299,
   'subsample': 0.46105859476396926}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.9326750781304226,
   'max_depth': 3.750237411148263,
   'min_child_weight': 15.492727234138016,
   'min_gain_to_split': 4.540048390272231,
   'reg_alpha': 6.8575588978246325,
   'reg_lambda': 1.5540843637062984,
   'subsample': 0.3293753941634452}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.8838203119387903,
   'max_depth': 4.441117376707197,
   'min_child_weight': 18.46260260066013,
   'min_gain_to_split': 7.120104142336774,
   'reg_alpha': 7.612750482269756,
   'reg_lambda': 19.13374991268425,
   'subsample': 0.9001462109663589}},
 {'target': 0.4961523739244675,
  'params': {'colsample_bytree': 0.9962523569456125,
   'max_depth': 3.8544869382481783,
   'min_child_weight': 5.720311020552375,
   'min_gain_to_split': 8.47414977510429,
   'reg_alpha': 0.2907400852047326,
   'reg_lambda': 7.126371965538459,
   'subsample': 0.8019104214753257}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.8268827253294426,
   'max_depth': 4.8305629527173295,
   'min_child_weight': 18.93268053844893,
   'min_gain_to_split': 8.332412828717061,
   'reg_alpha': 6.347156650383647,
   'reg_lambda': 66.08581846455313,
   'subsample': 0.32297068872633594}},
 {'target': 0.5064447545773739,
  'params': {'colsample_bytree': 0.8065305841968171,
   'max_depth': 4.568144252610437,
   'min_child_weight': 13.188595565961178,
   'min_gain_to_split': 2.9187085357572373,
   'reg_alpha': 2.8131619256140383,
   'reg_lambda': 41.20039084568867,
   'subsample': 0.907471537021985}},
 {'target': 0.5140394154988448,
  'params': {'colsample_bytree': 0.9397208209936683,
   'max_depth': 3.1693467368172135,
   'min_child_weight': 1.6069966215964708,
   'min_gain_to_split': 0.6048015380960581,
   'reg_alpha': 9.752630661656417,
   'reg_lambda': 2.000956895961359,
   'subsample': 0.9146717457262685}},
 {'target': 0.49891419491525424,
  'params': {'colsample_bytree': 0.8023993123150486,
   'max_depth': 3.707729221558654,
   'min_child_weight': 18.12536029082002,
   'min_gain_to_split': 19.655919168198274,
   'reg_alpha': 0.33260401337041445,
   'reg_lambda': 99.89330533390698,
   'subsample': 0.6893195489462591}},
 {'target': 0.5238254974569309,
  'params': {'colsample_bytree': 0.8000000018519802,
   'max_depth': 3.0,
   'min_child_weight': 1.0,
   'min_gain_to_split': 0.0,
   'reg_alpha': 0.37086432034735106,
   'reg_lambda': 0.0,
   'subsample': 0.3}},
 {'target': 0.49572099671614395,
  'params': {'colsample_bytree': 0.9134930249161064,
   'max_depth': 3.4024089395290273,

In [0]:
max_target=max([lgbo.res[elem]['target'] for elem in range(len(lgbo.res))])

In [0]:
opt_params=[elem['params'] for elem in lgbo.res if elem['target']==max_target][0]

In [0]:
opt_params.update({
    'objective': 'binary',
    'metric': 'auc',
    'boosting': 'gbdt',
    'random_state' : 501, # Updated from 'seed'
    'n_estimators' : 150,
    'learning_rate': 0.01,
    'early_stopping_round' : 10,
    'verbose': 20,
    'num_leaves': 31,
    'min_data_in_leaf': 50,
    'bagging_freq': 1,
    'bagging_seed': RS,
    'feature_fraction_seed': RS,
    'max_bin': 50})
opt_params['min_child_weight'] = int(opt_params['min_child_weight'])
opt_params['colsample_bytree'] = max(min(opt_params['colsample_bytree'], 1), 0)
opt_params['max_depth'] = int(opt_params['max_depth'])
opt_params['subsample'] = max(min(opt_params['subsample'], 1), 0)
opt_params['min_gain_to_split'] = max(opt_params['min_gain_to_split'],0)
opt_params['reg_alpha'] = max(opt_params['reg_alpha'],0)
opt_params['reg_lambda'] = max(opt_params['reg_lambda'],0)

In [0]:
opt_params

{'colsample_bytree': 0.9653331046182841,
 'max_depth': 3,
 'min_child_weight': 19,
 'min_gain_to_split': 0.14518323687155776,
 'reg_alpha': 0.023560049967107366,
 'reg_lambda': 77.86659816312816,
 'subsample': 0.9053295884953352,
 'objective': 'binary',
 'metric': 'auc',
 'boosting': 'gbdt',
 'random_state': 501,
 'n_estimators': 150,
 'learning_rate': 0.01,
 'early_stopping_round': 10,
 'verbose': 20,
 'num_leaves': 31,
 'min_data_in_leaf': 50,
 'bagging_freq': 1,
 'bagging_seed': 20190523,
 'feature_fraction_seed': 20190523,
 'max_bin': 50}

In [0]:
lgb_train = lgb.Dataset(X_train, Y_train)
lgb_eval = lgb.Dataset(X_val, Y_val, reference=lgb_train)

In [0]:
import lightgbm as lgb

In [0]:
lgb_model = lgb.train(opt_params, lgb_train, valid_sets=lgb_eval)

[1]	valid_0's auc: 0.507098
Training until validation scores don't improve for 10 rounds.
[2]	valid_0's auc: 0.541196
[3]	valid_0's auc: 0.486959
[4]	valid_0's auc: 0.463481
[5]	valid_0's auc: 0.477751
[6]	valid_0's auc: 0.473716
[7]	valid_0's auc: 0.483841
[8]	valid_0's auc: 0.47445
[9]	valid_0's auc: 0.476339
[10]	valid_0's auc: 0.476853
[11]	valid_0's auc: 0.478668
[12]	valid_0's auc: 0.47201
Early stopping, best iteration is:
[2]	valid_0's auc: 0.541196

In [0]:
train_preds_lgb=lgb_model.predict(X_train)
val_preds_lgb=lgb_model.predict(X_val)
test_preds_lgb=lgb_model.predict(X_test)

In [0]:
train_preds_lgb

array([0.47994717, 0.47994717, 0.47994717, ..., 0.47824794, 0.47875097,
       0.47875097])

In [0]:
train_preds_lgb=[np.argmax(line) for line in range(len(train_preds_lgb))]

In [0]:
test_preds_lgb=[np.argmax(line) for line in range(len(test_preds_lgb))]

In [0]:
type(train_preds_lgb)

list

In [0]:
print(roc_auc_score(Y_train,train_preds_lgb))
print(roc_auc_score(Y_test,test_preds_lgb))

ValueError: continuous format is not supported

In [0]:
from sklearn.metrics import auc